<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CC_JO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CC_JO.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CC_JO.My.MySettings.ConnectionString_CC" connectionString="Data Source=MIS;Initial Catalog=CC_JO;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
    <add name="DefaultConnection1" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="CO" />
    </sharedListeners>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Management" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Compression.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.2460.0.50" newVersion="20.2460.0.50" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.4460.0.42" newVersion="20.4460.0.42" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Pdf.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-20.4460.0.42" newVersion="20.4460.0.42" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.Linq" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <CC_JO.My.MySettings>
      <setting name="VProject" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Demo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultScaner" serializeAs="String">
        <value />
      </setting>
      <setting name="PDFFoldarpath" serializeAs="String">
        <value />
      </setting>
      <setting name="HoomPage" serializeAs="String">
        <value>https://www.google.com</value>
      </setting>
      <setting name="BackupType" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BackupPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoBackup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultPrintrName" serializeAs="String">
        <value />
      </setting>
    </CC_JO.My.MySettings>
  </userSettings>
  <applicationSettings>
    <CC_JO.My.MySettings>
      <setting name="CO_localhost_Service1" serializeAs="String">
        <value>http://localhost:50508/Service1.asmx</value>
      </setting>
    </CC_JO.My.MySettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CompactUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value>Times New Roman;9.75</value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
      <setting name="CustomPaletteCollection" serializeAs="Xml">
        <value>
          <CustomPaletteCollection>
            <Skin Name="Office 2019 Colorful">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="248,248,248" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="128,100,162" />
                <SvgColor Name="Paint Deep Shadow" Value="30,139,205" />
                <SvgColor Name="Brush" Value="255,255,255" />
                <SvgColor Name="Brush High" Value="255,255,255" />
                <SvgColor Name="Brush Light" Value="255,255,255" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="210,210,210" />
                <SvgColor Name="Accent Paint" Value="128,100,162" />
                <SvgColor Name="Accent Paint Dark" Value="128,100,162" />
                <SvgColor Name="Accent Paint Light" Value="79,129,189" />
                <SvgColor Name="Accent Paint Lighter" Value="141,179,226" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="255,255,255" />
                <SvgColor Name="Red" Value="227,108,9" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="251,152,59" />
                <SvgColor Name="Black" Value="255,255,255" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="201,222,245" />
              </SvgPalette>
            </Skin>
            <Skin Name="Basic">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="54,96,146" />
                <SvgColor Name="Paint High" Value="255,255,255" />
                <SvgColor Name="Paint Shadow" Value="SteelBlue" />
                <SvgColor Name="Paint Deep Shadow" Value="White" />
                <SvgColor Name="Brush" Value="255,255,255" />
                <SvgColor Name="Brush High" Value="40,40,40" />
                <SvgColor Name="Brush Light" Value="255,255,255" />
                <SvgColor Name="Brush Major" Value="250,192,143" />
                <SvgColor Name="Brush Minor" Value="118,146,60" />
                <SvgColor Name="Accent Paint" Value="242,242,242" />
                <SvgColor Name="Accent Paint Dark" Value="242,242,242" />
                <SvgColor Name="Accent Paint Light" Value="206,221,245" />
                <SvgColor Name="Accent Paint Lighter" Value="220,233,252" />
                <SvgColor Name="Accent Brush" Value="31,73,125" />
                <SvgColor Name="Accent Brush Light" Value="31,73,125" />
                <SvgColor Name="Red" Value="151,72,6" />
                <SvgColor Name="Green" Value="227,108,9" />
                <SvgColor Name="Blue" Value="118,146,60" />
                <SvgColor Name="Yellow" Value="250,192,143" />
                <SvgColor Name="Black" Value="108,109,117" />
                <SvgColor Name="Gray" Value="255,255,0" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
            <Skin Name="Office 2019 White">
              <SvgPalette Name="Custom Palette #1">
                <SvgColor Name="Paint" Value="White" />
                <SvgColor Name="Paint High" Value="White" />
                <SvgColor Name="Paint Shadow" Value="240,240,240" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="72,70,68" />
                <SvgColor Name="Brush High" Value="72,70,68" />
                <SvgColor Name="Brush Light" Value="119,119,119" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="225,225,225" />
                <SvgColor Name="Accent Paint" Value="16,110,190" />
                <SvgColor Name="Accent Paint Dark" Value="0,90,158" />
                <SvgColor Name="Accent Paint Light" Value="205,230,247" />
                <SvgColor Name="Accent Paint Lighter" Value="230,242,250" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="179,214,242" />
                <SvgColor Name="Red" Value="237,61,59" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="251,152,59" />
                <SvgColor Name="Black" Value="87,87,85" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
              <SvgPalette Name="Custom Palette #2">
                <SvgColor Name="Paint" Value="White" />
                <SvgColor Name="Paint High" Value="White" />
                <SvgColor Name="Paint Shadow" Value="240,240,240" />
                <SvgColor Name="Paint Deep Shadow" Value="230,230,230" />
                <SvgColor Name="Brush" Value="72,70,68" />
                <SvgColor Name="Brush High" Value="72,70,68" />
                <SvgColor Name="Brush Light" Value="119,119,119" />
                <SvgColor Name="Brush Major" Value="171,171,171" />
                <SvgColor Name="Brush Minor" Value="225,225,225" />
                <SvgColor Name="Accent Paint" Value="16,110,190" />
                <SvgColor Name="Accent Paint Dark" Value="0,90,158" />
                <SvgColor Name="Accent Paint Light" Value="205,230,247" />
                <SvgColor Name="Accent Paint Lighter" Value="230,242,250" />
                <SvgColor Name="Accent Brush" Value="255,255,255" />
                <SvgColor Name="Accent Brush Light" Value="179,214,242" />
                <SvgColor Name="Red" Value="237,61,59" />
                <SvgColor Name="Green" Value="48,144,72" />
                <SvgColor Name="Blue" Value="30,139,205" />
                <SvgColor Name="Yellow" Value="251,152,59" />
                <SvgColor Name="Black" Value="87,87,85" />
                <SvgColor Name="Gray" Value="169,168,168" />
                <SvgColor Name="White" Value="255,255,255" />
              </SvgPalette>
            </Skin>
          </CustomPaletteCollection>
        </value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>